@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700);

html, body {
    height: 100%;
    width: 100%;
    /*max-height: 600px*/

}

body {
    background-image: url("../images/background-two.jpg");
    background-repeat:no-repeat; /* Indicamos que no se repetira */
    background-size:cover; /* Encajamos la imagen al 100% del ancho */
    background-attachment: fixed; /* Establecemos una posicion fija para la imagen */
    height: 100vh;
    background-position: 0% -22%;
    color:#f1f1f1;
}

/*----------------Login---------------------*/
.navbar-link {
    /*border: solid 1px #18bc9c;*/
    border: solid 1px #00bc8c;
    padding: 7px 24px;
    color: #00bc8c !important;
}

.navbar-link:hover {
    border: solid 1px #00bc8c;
    background: #00bc8c;
    border-radius: 17px;
    padding: 7px 24px;
    color: #000000 !important;
    transition: 0.2s all ease 0.2s;
}



/*--------------fin login----------------*/

.ng-scope {
    height: 100%;
}

.container {
    height: 100%;
    width: 100% !important;
    margin: 0 auto;
   /* margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;*/
}

.contmmain_left{
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

.panel-bot-up {
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 67px;
}

/*Quitar despues de colocada*/

/*-------------------------------------------------------------------------------------------------*/
#menu {
    float: left;
    position: fixed;
    height: 100%;
    width: 100%;
    max-width: 312px;
    padding: 0;
    border-right:1px solid #868686;
}

#menu h1:before {
    content: "// ";
}

#menu h1 {
    font-size: 3em;
    color: #fefefe;
    text-transform: lowercase;
}

#menu > .wrapper {
    background: transparent;
    /* margin:3em 0;*/
}

.btnmenu {
    padding: 18px 0;
    line-height: 1.3333333;
    z-index: 1111;
    border: none;
    border-radius:0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    }

.btnmenu:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Button 1 */
.btn-1 {
    border-bottom: 1px solid #868686;
    color: #fff;
    width: 100%;
}

.btn-1c:after {
    width:0;
    height: 100%;
    top: 0;
    left: 0;
    background: #FFFFFF;
    border-right: 3px solid #00bc8c;
}

.btn-1c:hover,
.btn-1c:active {
    color: #333333;
    text-decoration: none;
}

.btn-1c:hover:after,
.btn-1c:active:after {
    width: 100%;
}
/*-------------------------------------Fin_--------------------------------------*/

.panel-danger>.panel-heading{
    background: transparent;

    border: none;
    padding: 0;
    margin: 0 15px;
}

.panel-heading>h3{
    color: red !important;
  font-family: 'Archivo Narrow', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18pt;
    letter-spacing: -1px;
    border-bottom: #FFFFFF 2px solid;
}

.panel{
    margin-bottom: 21px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}


.panel>h3{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 18pt;
    color: #FFFFFF;
    line-height: 24pt;
    letter-spacing: 1px;
    border-bottom: #FFFFFF 2px solid;

}

.panel p, .text-font{
    color: #FFFFFF;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 13pt;
}

/*/ /*/
.content {
    padding: 15px;
}

.header {
    color: #FFFFFF;
    text-align: left;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 22pt;
    padding: 10px 0;
}

.col-md-4>address{
    color: #FFFFFF;
  font-family: 'Archivo Narrow', sans-serif;
    font-size: 13pt;
}


.form-control{
  font-family: 'Archivo Narrow', sans-serif;
    border: 0;
    border-radius: 0;
    width: 100%;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

#ubcImg {
    width: 20%;
}

#listConv > ul > li {
    display: inline-block;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    /*text-shadow: 1px 1px 3px #666666;*/
    font-family: Arial;
    color: #ffffff;
    font-size: 13px;
    padding: 6px;
    background: #ffffff;
    border: solid #bdd4e3 2px;
    text-decoration: none;
    line-height: 2em;

}

#listConv li {
    display: inline-block;
    margin: 0;

    line-height: 1;

    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
    outline: 0;
    background: transparent;
}

#listConv ol, ul {
    list-style: none;
}

#listConv li a {
    float: left;
    margin: 0 6px 8px 0;
    padding: 3px 6px 4px 6px;
    font-weight: normal;
    text-decoration: none;
    white-space: nowrap;
    color: #777777;
    border: 1px solid #ccc;
    background: rgba(0, 0, 0, 0.07) url(/assets/button-glass-28f3f35e644692fbe4cb0c37887af622.png) repeat-x 0 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.msgUderConst, .msgUderConst h2 {
    display: inline;
}

.navbar {
    position:fixed;
    z-index: 999;
    width: 100%;
    min-height: 60px;
    margin-bottom: 0;
}

.navbar-default {
    background-color: #FFFFFF;
    border-bottom:1px solid #868686;
}

.navbar {
    border-radius: 0px;
}

/*
#map {
    padding-top: 90px;
    height: 85%;
    width: 100%;
    display: inline-block
}

.todoAlto {
    height: 100%
}

.centrar {
    text-align: center;
    margin: 0 auto
}

.selectDivPol {
    width: 80%
}

.overflow {
    overflow: auto
}

table {
    table-layout: fixed
}

#pac-input {
    margin-top: 16px;
    width: 70%
}

.modal-backdrop {
    z-index: -1
}

#cargando {
    margin-left: 10%;
    margin-right: 10%
}

.margen {
    margin: 20px;
    padding: 20px
}

div.tabla {
    display: table;
    border-spacing: 5px
}

div.tablafila {
    display: table-row
}

div.tablacolumna {
    display: table-cell;
    width: 50%
}

[data-if="0"]:after {
    content: "No"
}

[data-if="1"]:after {
    content: "Si"
}

span.loc:empty + h3.nom {
    color: red
}

.row-full-height {
    height: 100%
}

.col-full-height {
    height: 100%;
    vertical-align: middle
}

.row-same-height {
    display: table;
    width: 100%;
    table-layout: fixed
}

.col-xs-height {
    display: table-cell;
    float: none !important
}

@media (min-width: 768px) {
    .col-sm-height {
        display: table-cell;
        float: none !important
    }
}

@media (min-width: 992px) {
    .col-md-height {
        display: table-cell;
        float: none !important
    }
}

@media (min-width: 1200px) {
    .col-lg-height {
        display: table-cell;
        float: none !important
    }
}

.col-top {
    vertical-align: top
}

.col-middle {
    vertical-align: middle
}

.col-bottom {
    vertical-align: bottom
}

.item {
    border: 1px solid #cecece;
    padding: 12px 6px;
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #ededed));
    background: -moz-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
    background: -ms-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
    background-color: #00f
}

.item, #mapcontainer {
    width: 100%;
    height: 100%
}

#form {
    background-color: red
}*/

.container > .navbar-header {
    width: 100%;
}

.navbar-brand {
    padding: 0 15px;
    font-size: 19px;
    line-height: 21px;
    height: auto !important;
}

.navbar-brand img {
    height: 100%;
    display: inline-block
}

footer {
    height: 2em;
    width: 100%;
    bottom: 0;
    /*background:rgba(0, 0, 0, 0.92);*/
    clear: both;
    position: fixed;
}
footer p{
    margin: 0 auto;
    text-align: center;
    width: 100%;
  font-family: 'Archivo Narrow', sans-serif;
}

/*
.alert.alert-info {
    background-color: rgba(52, 152, 219, .43);
    border-color: rgba(52, 152, 219, .55)
}

#profile > .btn-group > .btn {
    float: none
}
@media (min-width: 768px) {
    #maxH {
        max-height: 400px;
        overflow: auto
    }
}

@media (min-width: 992px) {
    #maxH {
        max-height: 600px;
        overflow: auto
    }
}

@media (min-width: 1200px) {
    #maxH {
        max-height: 800px;
        overflow: auto
    }
}

.navbar-text {
    margin-bottom: auto;
    margin-top: auto
}

.todoAncho {
    width: 100%
}
*/

.todoAlto {
    height: 100%;
    position: absolute;
    right: 0;
}

.btnsend{
    background:#00bc8c;
    border-radius: 0;
    border: none;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 700;
}

.btnsend:hover{
    background: rgba(255, 255, 255, 0.88);
    color: #00bc8c;
    }


/* convenios */
#ulListConv ol, ul {
    list-style: outside none none;
}
#ulListConv li a {
    background: white repeat-x scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #777777;
    float: left;
    font-weight: normal;
    margin: 0 6px 8px 0;
    padding: 3px 6px 4px;
    text-decoration: none;
    white-space: nowrap;
}