html,body{
  max-height: 100vh;
  margin:0;

}

.body{
  /*background-color: red;*/
  height: 100%;
  min-height: 100%;
  margin:0;
  /*padding-top: 67px;*/

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  html,body{
    height: 86%;
    min-height: 86%;


  }
  .clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {
    clear: initial;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  html,body{
    height: 92%;
    min-height: 92%;


  }
  .clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {
    clear: initial;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  html,body{
    height: 90%;
    min-height: 90%;


  }
  .clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {
    clear: initial;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}


/* Util  */

.fullHeight{
  height: 100%;
  /*min-height: 100%;*/
}

.centrar{
  text-align:center;
  margin: 0 auto;
}

.restricheigh{
  max-height: 90vh;
  overflow: auto;/**/
}


/* Modificacion boostrap */

.row {
  margin: 0;
}

.container-fluid{
  padding: 0;
}

.alert.alert-info {
  background-color: rgba(52, 152, 219, 0.43);
  border-color: rgba(52, 152, 219, 0.55);
}

/*----------------navbar---------------------*/

.navbar-link {

    border: solid 1px #00bc8c;
    padding: 7px 24px;
    color: #00bc8c !important;
}

.navbar-link:hover {
    border: solid 1px #00bc8c;
    background: #00bc8c;
    border-radius: 17px;
    padding: 7px 24px;
    color: #000000 !important;
    transition: 0.2s all ease 0.2s;
}

.navbar {
  margin: 0;
}

.navbar-brand {
  margin-left: -15px;
  padding: 15px 15px 15px 30px;
}

#infofiltro{
  margin-bottom: 0px;
}



/* para el glyphycon dentro del imput*/
.center-block {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.input-group .icon-addon .form-control {
    border-radius: 0;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon,
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    /*margin-left: -2.5px;*/
    margin-left: -2.5px;
    text-align: center;
    padding: 15px 0;
    top: 1px
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: #2580db;
}

/** animacion icono */
.widgetbox [class*="glyphicon-"] {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  display: inline-block;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}
.widgetbox:hover [class*="glyphicon-"] {
  color: #24a159 !important;
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg);
rotate(360deg);
}


/**/
/*
Adding a new column size to Bootstrap 3.0

.col-sm-0 used to set a width to 0px for animation.
setting margin, height, padding to 0 to avoid conflict
with other divs, etc.
*/
.col-0 {
  width: 0px;
  float: left;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  min-height: 1px;
}

div{
  -webkit-transition: all 500ms ease-in-out 0s;
  -moz-transition: 	all 500ms ease-in-out 0s;
  -o-transition: 		all 500ms ease-in-out 0s;
  transition: 		all 500ms ease-in-out 0s;
}


/*  */
[data-if="0"]:after{
  content: "No"
}
[data-if="1"]:after{
  content: "Si"
}