<!doctype html>
<html class="no-js" lang="" ng-app="gasmarket">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <title>GasMarket</title>
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->


  <!-- build:css styles/vendorindex.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="/bower_components/select2-ng/select2.css" />
  <link rel="stylesheet" href="/bower_components/select2-dist/dist/css/select2.css" />
  <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css styles/mainindex.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="/bower_components/select2-ng/select2.css" />
  <link rel="stylesheet" href="/bower_components/select2-dist/dist/css/select2.css" />
  <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js scripts/vendor/modernizr.js -->
  <script src="../bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->

</head>
<body >
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<header class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#">
        <img src="images/logo_gisco.png">
        <img src="images/estaciones-de-servcio.png" style="height: 55px">
      </a>

    </div>

    <div class="navbar-collapse collapse">
      <div class="navbar-form navbar-right">
        <strong>Visor de Estaciones</strong>

        <!--<div class="form-group">
            <input type="text" id="quick_search" class="form-control" placeholder="Quick Search">

        </div>-->
      </div>
    </div><!--/.navbar-collapse -->
  </div>
</header>



<div ng-controller="editController">
  <div class="centrar" id="cargando">
    <h3>...Cargando, espere un momento por favor...</h3>

    <br/>

    <div id="barProgresLoading" class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"><span class="sr-only">100% Complete</span>
      </div>
    </div>

  </div>
  <div class="container-fluid">

  <div class="row">
      <div  class="row-same-height row-full-height">

        <div class="col-xs-4 col-xs-height col-full-height  panel panel-default panel-bot-up">

          <form  id="maxH" name="maxH" class="form-horizontal">
            <div class="form-group">
              <label for="gasNom" class="col-sm-3 control-label">Nombre</label>
              <div class="col-sm-9">

                <textarea id="gasNom" class="form-control" name="gasNom" type="text" rows="2" cols="30" placeholder="No ha seleccionado una estacion" ng-model="objEDS.nom"></textarea>
              </div>
            </div>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Ubicacion
                      <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <div class="form-group">
                      <label for="gasReg" class="col-sm-3 control-label">Region</label>

                      <div class="col-sm-9"><input id="gasReg" class="form-control" name="gasReg" type="text"
                                                   placeholder="ingrese region" ng-model="objEDS.dep"></div>
                    </div>
                    <div class="form-group">
                      <label for="gasCit" class="col-sm-3 control-label">Ciudad</label>
                      <div class="col-sm-9">
                        <input id="gasCit" class="form-control" name="gasCit" type="text" placeholder="ingrese ciudad" ng-model="objEDS.cit">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="gasDir" class="col-sm-3 control-label">Direccion</label>

                      <div class="col-sm-9"><input id="gasDir" class="form-control" name="gasDir" type="text"
                                                   placeholder="ingrese direccion" ng-model="objEDS.dir"></div>
                    </div>
                    <div class="form-group"  ng-class="{ 'has-error': maxH.gasLat.$invalid }">

                      <label for="gasLat" class="col-sm-3 control-label">Latitud</label>

                      <div class="col-sm-9"><input id="gasLat" class="form-control" name="gasLat" type="number" step="0,0001"
                                                   placeholder="ingrese latitud" ng-model="objEDS.lat" ng-model-options="{ allowInvalid: true }"></div>
                    </div>
                    <div class="form-group"  ng-class="{ 'has-error': maxH.ggasLat.$invalid }">
                      <label for="gasLon" class="col-sm-3 control-label">Longitud</label>

                      <div class="col-sm-9"><input id="gasLon" class="form-control" name="gasLon" type="number" step="0,0001"
                                                   placeholder="ingrese longitud" ng-model="objEDS.lon" ng-model-options="{ allowInvalid: true }"></div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Info General
                      <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    <div class="form-group">
                      <label for="gasMay" class="col-sm-3 control-label">Marca</label>

                      <div class="col-sm-9"><input id="gasMay" class="form-control" name="gasMay" type="text"
                                                   placeholder="ingrese mayorista" ng-model="objEDS.cat"></div>
                    </div>
                    <div class="form-group">
                      <label for="gasMar" class="col-sm-3 control-label">Operador</label>

                      <div class="col-sm-9"><input id="gasMar" class="form-control" name="gasMar" type="text"
                                                   placeholder="ingrese marca" ng-model="objEDS.mar"></div>
                    </div>

                    <div class="form-group">
                      <label for="gasTel" class="col-sm-3 control-label">Telefono</label>

                      <div class="col-sm-9"><input id="gasTel" class="form-control" name="gasTel" type="tel"
                                                   placeholder="Ingrese Telefono" ng-model="objEDS.tel"></div>
                    </div>
                    <div class="form-group"  ng-class="{ 'has-error': maxH.gasEml.$invalid }">

              <span class="error" ng-show="maxH.gasEml.$invalid">
        Correo no valido, este valor no se guardara</span>
                      <label for="gasEml" class="col-sm-3 control-label">Correo Electronico</label>

                      <div class="col-sm-9"><input id="gasEml" class="form-control" name="gasEml" type="email"
                                                   placeholder="Ingrese Correo Electronico" ng-model="objEDS.eml"></div>
                    </div>
                    <div class="form-group">
                      <label for="gasRpl" class="col-sm-3 control-label">Representante Legal</label>
                      <div class="col-sm-9">
                        <input id="gasRpl" class="form-control" name="gasRpl" type="text" placeholder="Ingrese Representante Legal" ng-model="objEDS.rpl">
                      </div>
                    </div>



                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo2">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                      Info
                      <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo2">
                  <div class="panel-body">

                    <div class="form-group">
                      <label for="gasVcon" class="col-sm-3 control-label">Vencimiento</label>
                      <div class="col-sm-9">
                        <div class="input-group">
									<span class="input-group-addon">
										<i class="glyphicon glyphicon-calendar"></i>
									</span>

                          <input type="text" id="gasVcon"
                                 class="form-control input-sm"

                                 datetimepicker
                                 ng-model="vm.datetime"

                                 placeholder="yyyy/mm/dd"
                                 name="gasVcon">
                        </div>

                        <!--<input datetimepicker id="gasVcon" class="form-control dateForm" name="gasVcon" type="date" placeholder="yyyy/mm/dd" ng-model="objEDS.vcont.datetime" value="{{ objEDS.vcont.datetime}}">-->
                        <!--<input datetimepicker id="gasVcon" class="form-control dateForm" name="gasVcon" type="date" placeholder="yyyy/mm/dd" ng-model="vm.datetime">-->
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="gasPrv1" class="col-sm-3 control-label">Provedor Tipo 1</label>
                      <div class="col-sm-9">
                        <input id="gasPrv1" class="form-control" name="gasPrv1" type="text" placeholder="Ingrese Provedor Tipo 1" ng-model="objEDS.prv1">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="gasPrv2" class="col-sm-3 control-label">Provedor Tipo 2</label>
                      <div class="col-sm-9">
                        <input id="gasPrv2" class="form-control" name="gasPrv2" type="text" placeholder="Ingrese Provedor Tipo 2" ng-model="objEDS.prv2">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="gasCer" class="col-sm-3 control-label">Certificador</label>
                      <div class="col-sm-9">
                        <input id="gasCer" class="form-control" name="gasCer" type="text" placeholder="Ingrese Certificador" ng-model="objEDS.cer">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="gasVol" class="col-sm-3 control-label">Volumen</label>
                      <div class="col-sm-9">
                        <input id="gasVol" class="form-control" name="gasVol" type="number" step="0,0001" placeholder="Ingrese volumen" ng-model="objEDS.vol">
                      </div>
                    </div>



                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Servicios
                      <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                    <div  class="form-group col-sm-12" >
                      <div class="col-sm-6">
                        Lavado <input type="checkbox" id="gasWashing" ng-model="objEDS.was"
                                      ng-true-value="1" ng-false-value="0"><br/>
                        Taller <input type="checkbox" id="gasCarReparing" ng-model="objEDS.rcar" ng-true-value="1"
                                      ng-false-value="0"><br/>
                        Cambio Aceite <input type="checkbox" id="gasOilChange" ng-model="objEDS.oil" ng-true-value="1"
                                             ng-false-value="0"><br/>
                      </div>
                      <div class="col-sm-6">
                        Seguro <input type="checkbox" id="gasInsurance" ng-model="objEDS.ins"
                                      ng-true-value="1" ng-false-value="0"><br/>
                        Hotel <input type="checkbox" id="gasHotel" ng-model="objEDS.hot" ng-true-value="1"
                                     ng-false-value="0"><br/>
                        Restaurante <input type="checkbox" id="gasRestaurang" ng-model="objEDS.res" ng-true-value="1"
                                           ng-false-value="0"><br/>
                      </div>
                      <div class="col-sm-6">
                        Mercado <input type="checkbox" id="gasGrocery" ng-model="objEDS.gro"
                                       ng-true-value="1" ng-false-value="0"><br/>
                        Envio Divisas <input type="checkbox" id="gasMoneysending" ng-model="objEDS.smon" ng-true-value="1"
                                             ng-false-value="0"><br/>
                        Cajero <input type="checkbox" id="gasATM" ng-model="objEDS.atm" ng-true-value="1"
                                      ng-false-value="0"><br/>
                      </div>
                      <div class="col-sm-6">
                        Gimnasio <input type="checkbox" id="gasGym" ng-model="objEDS.gym" ng-true-value="1"
                                        ng-false-value="0"><br/>
                        Comida Rapida <input type="checkbox" id="gasFastfood" ng-model="objEDS.ffo" ng-true-value="1"
                                             ng-false-value="0"><br/>
                        Celulares <input type="checkbox" id="gasCellphonestore" ng-model="objEDS.scel" ng-true-value="1"
                                         ng-false-value="0"><br/>
                      </div>
                      <div class="col-sm-6">
                        Montallantas <input type="checkbox" id="gasTirerepair" ng-model="objEDS.trep"
                                            ng-true-value="1"
                                            ng-false-value="0"><br/>
                        Parqueadero <input type="checkbox" id="gasParking" ng-model="objEDS.par" ng-true-value="1"
                                           ng-false-value="0"><br/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>







            <div class="form-group">
              <label for="gasObse" class="col-sm-3 control-label">Observaciones</label>
              <div class="col-sm-9">
                <textarea id="gasObse" class="form-control" name="gasObse" type="text" rows="2" cols="30" placeholder="Observaciones" ng-model="objEDS.obs"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label for="gasRvp" class="col-sm-3 control-label">Revisado Por</label>
              <div class="col-sm-9">
                <input id="gasRvp" class="form-control" name="gasRvp" type="text" placeholder="Ingrese Iniciales" ng-model="objEDS.rvp">
              </div>
            </div>
            <div class="btn btn-default" ng-click="actualizaObjeto()" id="btnActData">Actualizar</div>
          </form>

        </div>
        <div class="col-xs-8 col-xs-height col-full-height  panel panel-default  panel-bot-up">
          <div id="mapcontainer">
            <input type="search" class="form-control" id="pac-input"  placeholder="Buscador de Lugares">
            <div id="map"></div>
          </div>
        </div>


      </div>
    </div>

  </div>
  <footer>
    <p class="pull-right">&copy; Gisco 2014</p>
  </footer>



</div>
<!-- build:js scripts/vendordetail.js -->
<!-- bower:js -->
<script src="/bower_components/modernizr/modernizr.js"></script>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/select2-ng/select2.js"></script>
<script src="/bower_components/mustache.js/mustache.js"></script>
<script src="/bower_components/list.js/dist/list.js"></script>
<script src="/bower_components/list.pagination.js/dist/list.pagination.js"></script>
<script src="/bower_components/select2-dist/dist/js/select2.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/moment/moment.js"></script>
<script src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="/bower_components/papaparse/papaparse.js"></script>
<!-- endbower -->
<!-- endbuild -->
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&extension=.js&libraries=drawing&libraries=places"></script>


<!-- build:js scripts/pluginsdetail.js -->
<!-- bower:js -->
<script src="/bower_components/modernizr/modernizr.js"></script>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/select2-ng/select2.js"></script>
<script src="/bower_components/mustache.js/mustache.js"></script>
<script src="/bower_components/list.js/dist/list.js"></script>
<script src="/bower_components/list.pagination.js/dist/list.pagination.js"></script>
<script src="/bower_components/select2-dist/dist/js/select2.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/moment/moment.js"></script>
<script src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="/bower_components/papaparse/papaparse.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js scripts/detail.js -->
<!-- bower:js -->
<script src="/bower_components/modernizr/modernizr.js"></script>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/select2-ng/select2.js"></script>
<script src="/bower_components/mustache.js/mustache.js"></script>
<script src="/bower_components/list.js/dist/list.js"></script>
<script src="/bower_components/list.pagination.js/dist/list.pagination.js"></script>
<script src="/bower_components/select2-dist/dist/js/select2.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/moment/moment.js"></script>
<script src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="/bower_components/papaparse/papaparse.js"></script>
<!-- endbower -->
<!-- endbuild -->
</body>
</html>
