<!DOCTYPE html>
<html lang="en" ng-app="gasmarket">
<head>
    <meta charset="UTF-8">
    <title></title>
  <!-- build:css styles/vendorstart.css -->
  <!-- bower:css -->

  <link rel="stylesheet" href="styles/bootstrap-flatly2.min.css"/>

  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css styles/mainindex.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="styles/index_code.css">
  <link rel="stylesheet" href="styles/indexch.css">
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js scripts/vendor/modernizr.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
  <!-- endbuild -->

</head>
<body>
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<header class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#">
        <img src="images/logos.png">
      </a>
      <div class="navbar-collapse collapse">
        <div class="navbar-form navbar-right">
         <!--<p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Mark Otto</a></p>-->
          <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Mark Otto</a></p>
        </div>
      </div>
    </div>

    <!--<div class="navbar-collapse collapse">
      <div class="navbar-form navbar-right">
        <strong>Visor de Estaciones</strong>

        <!--<div class="form-group">
            <input type="text" id="quick_search" class="form-control" placeholder="Quick Search">

        </div>
      </div>
    </div><!--/.navbar-collapse -->
  </div>
</header>
<div ng-controller="starpage">
    <div class="container contmmain_left">


      <div id="menu" class="col-xs-4 panel-bot-up">
        <div class="wrapper">
          <a class="btnmenu btn-1 btn-1c" href="#" ng-click="prueb(0)"><span aria-hidden="true"></span> GasMarket</a>
        </div>
        <div class="wrapper">
          <a class="btnmenu btn-1 btn-1c" href="#" ng-click="prueb(4)"><span aria-hidden="true"></span> Optimice sus centros alternos</a>
        </div>
        <div class="wrapper">
          <a class="btnmenu btn-1 btn-1c" href="#" ng-click="prueb(1)"><span aria-hidden="true"></span> Quienes Somos</a>
        </div>
        <div class="wrapper">
          <a class="btnmenu btn-1 btn-1c" href="#" ng-click="prueb(2)"><span aria-hidden="true"></span> Convenios</a>
        </div>
        <div class="wrapper">
          <a class="btnmenu btn-1 btn-1c" href="#" ng-clic="prueb(3)"><span aria-hidden="true"></span> Contacto</a>
        </div>
      </div>
      <div class="col-xs-8 panel-bot-up todoAlto">
          <div ng-if="isIE">
              <div class="panel panel-danger" >
              <div class="panel-heading">
                  <h3 class="panel-title">Atención</h3>
              </div>
              <div class="panel-body">
                  <p>Esta aplicación esta optimizada para <a href="https://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a> y <a href="https://www.google.com/chrome/browser/desktop/index.html">Google Chrome</a>, en otros navegadores (en especial Internet Explorer) puede presentar problemas los cuales no permitirían la correcta visualización de la información, por lo anterior recomendamos usar estos navegadores para el uso exitoso de esta aplicación.</p>
              </div>
          </div>
          </div>
       <!--<div class="msgUderConst">
         <h2>Sitio en construccion</h2>
        <img id="ubcImg" src="images/Under_construction.jpg" alt="Sitio en contruccion"/>
       </div>-->
        <div class="content panel panel-default" ng-show="listview[0]">

          <h3>¿Que es GasMarket Fill?</h3>
          <p>Plataforma Web, donde podemos encontrar información de  EDS a nivel nacional , facilitando ubicaciones exactas
              (latitud y longitud ) , fotos satélite, fotos tierra y fotos físicas a demás de un inventario detallado de EDS.</p>

            <h3>¿Para que la Georeferenciación?</h3>
              <p>La competencia y los niveles de servicio que deben afrontar las EDS hacen que sea necesario  incrementar la rentabilidad por metro cuadrado, siendo necesario generar estrategias que permitan identificar y disponer de
              un inventario oportuno para la búsqueda de oportunidades de uso y rentabilización de los centros alternos en cada EDS.</p>
        </div>
        <div class="content panel panel-default" ng-show="listview[1]">
          <h3>CAB </h3>
          <p>(Comercializadora y Asesoria Bermudez) Somos una compañía innovadora con mas  20  años en el sector de hidrocarburos,
            desarrollando estrategias de optimización y reingenierías a nivel nacional para todo el sector de las Estaciones
            de Servicio del país.</p>

          <h3>Gisco</h3>
          <p>Es una compañia especializada en el desarrollo de cartografia, GPS, drones y aplicaciones
              relacionadas con estos temas.</p>
          <p>El proposito es permitirle a nuestros usuarios tener la informacion disponible, actualizada y veraz en la nube.</p>
        </div>
        <div class="content panel panel-default" ng-show="listview[2]">
          <h3>CONVENIO    ASOCIADOS</h3>
            <ul id="ulListConv">
            
        <li><a href="http://www.baloto.com/" target="_blank">Baloto</a></li><li><a href="http://www.grupobancolombia.com/home/index.asp" target="_blank">Bancolombia</a></li><li><a href="http://www.claro.com.co/portal/co/pc/personas/" target="_blank">Claro</a></li><li><a href="http://www.efecty.com.co/?gclid=CMf89bHOxsUCFdOQHwodNVYAqg" target="_blank">Efecty</a></li><li><a href="http://www.elcorral.com/" target="_blank">El Corral</a></li><li><a href="http://www.enmetalica.com/" target="_blank">Enmetalicas</a></li><li><a href="http://www.golden-c.com/" target="_blank">Golden Comunicaciones</a></li><li><a href="http://www.iapropiada.com/web/blog/impresion-avanzado" target="_blank">Ingenieria apropiadas</a></li><li><a href="http://www.redllantas.com/" target="_blank">Red llantas</a></li><li><a href="http://www.rendimax.com.co/" target="_blank">Rendimax</a></li><li><a href="http://www.surtimax.com.co/" target="_blank">Surtimax</a></li><li><a href="https://www.grupoaval.com/wps/portal/grupo-aval/aval/" target="_blank">Cajeros Grupo Aval</a></li><li><a href="www.codespetrol.com.co" target="_blank">Codespetrol</a></li><li><a href="http://coopafa.com/" target="_blank">Coopafa</a></li><li><a href="https://www.davivienda.com/" target="_blank">Davivienda</a></li><li><a href="http://www.dominguezsanchez.com.co/" target="_blank">Dominguez Sánchez</a></li><li><a href="http://www.donutfactory.com.co/" target="_blank">Donut Factory</a></li><li><a href="http://www.dewar.com.co/dewar/" target="_blank">Empresa Cerificadora Deward</a></li><li><a href="http://www.exito.com/" target="_blank">Exito</a></li><li><a href="http://www.gana.com.co/" target="_blank">Gana</a></li><li><a href="http://www.granseguros.com.co" target="_blank">Gran Seguros</a></li><li><a href="www.hytlavinco.com/" target="_blank">Lavinco</a></li><li><a href="http://www.mcdonalds.com.co/" target="_blank">Mc Donald´s</a></li><li><a href="#" target="_blank">Megatiendas</a></li><li><a href="http://www.mrsplash.com/" target="_blank">Mr. Splash</a></li><li><a href="www.mygisco.com" target="_blank">Navione SAS</a></li><li><a href="www.olinsa.com.co" target="_blank">Oficinas Portátiles</a></li><li><a href="http://www.oxxo.com/" target="_blank">Oxxo</a></li><li><a href="#" target="_blank">Ramiro Velasquez</a></li><li><a href="http://www.redservi.co/" target="_blank">RED SERVI</a></li><li><a href="https://www.servientrega.com/" target="_blank">Servientrega</a></li><li><a href="#" target="_blank">Servitecas Optima</a></li><li><a href="http://www.subwaycolombia.com/esp/" target="_blank">Subway</a></li><li><a href="www.syscom.com.co" target="_blank">Syscom</a></li><li><a href="http://www.tecnicentroloscolores.com/" target="_blank">Tecnicentro Los Colores</a></li><li><a href="www.tigo.com.co" target="_blank">Tigo</a></li></ul>
    
        </div>
        <div class="content panel panel-default" ng-show="listview[3]">
          <legend class="text-center header">Contactenos</legend>
          <div class="row">
            <div class="col-md-4">
              <address>
                <strong>Jorge Ivan Bermudez Ramirez</strong><br>
                <a href="mailto:jbtexmo@hotmail.com">jbtexmo@hotmail.com</a><br>
                <a href="tel:3105776556">310 577 65 56</a><br>
                <a href="callto:jorge.ivan.bermudez.cab">Skype:jorge.ivan.bermudez.cab</a>

              </address>
            </div>
            <div class="col-md-8">
              <form class="form-horizontal" method="post">
                <fieldset>


                  <div class="form-group">
                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                    <div class="col-md-8">
                      <input id="fname" name="name" type="text" placeholder="Nombre" class="form-control" ng-model="mail.fname">
                    </div>
                  </div>
                  <div class="form-group">
                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                    <div class="col-md-8">
                      <input id="lname" name="name" type="text" placeholder="Apellido" class="form-control" ng-model="mail.lname">
                    </div>
                  </div>

                  <div class="form-group">
                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                    <div class="col-md-8">
                      <input id="email" name="email" type="email" placeholder="Email" class="form-control" ng-model="mail.mail">
                    </div>
                  </div>

                  <div class="form-group">
                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                    <div class="col-md-8">
                      <input id="phone" name="phone" type="tel" placeholder="Telefono" class="form-control" ng-model="mail.phon">
                    </div>
                  </div>

                  <div class="form-group">
                    <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                    <div class="col-md-8">
                      <textarea class="form-control" id="message" name="message" placeholder="Introduzca su mensaje para nosotros aquí. Nos pondremos en contacto con usted dentro de 2 días hábiles." rows="7" ng-model="mail.msg"></textarea>
                    </div>
                  </div>

                  <div class="form-group">
                      <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                      <div class="col-md-8 text-center">
                      <button type="submit" class="btn btn-primary btn-lg btnsend" ng-click="mailto()">Enviar</button>
                    </div>
                  </div>
                </fieldset>
              </form>

            </div>
          </div>


        </div>
        <div class="content panel panel-default" ng-show="listview[4]">
          <h3>¿Cómo aumentar sus ganancias atrayendo más clientes a su estación de servicio, integrando y rentabilizando sus espacios no utilizados?</h3>
          <p>Si su Estación de servicio y sus ingresos sólo dependen de la operación de combustible, usted tiene serios problemas y está corriendo grandes riesgos, porque cualquier situación problemática externa a usted lo podría dejar en grandes aprietos económicos.
          </p>
          <p>Usted puede hacer crecer su negocio aprovechando los espacios improductivos, ofreciendo otros servicios a través de centros alternos y al mismo tiempo, estos se encargarán de atraer a más clientes que le ayudarán a aumentar sus ingresos y sus ganancias
          </p>
          <p>Nunca antes había sido más fácil, lograr que su estación de servicio se vuelva un lugar de referencia y un punto de encuentro, donde sus clientes además de comprar combustible puedan disfrutar del tiempo con sus familias o amigos mientras esperan que se termine de lavar su auto, se realice un cambio de aceite o cualquier otro servicio que usted pueda ofrecer.
          </p>
          <p>Está aprobado que esto es posible si usted tiene otros lugares dentro de su estación, donde ellos puedan disfrutar de una deliciosa comida, y hacer diligencias importantes, como transacciones bancarias, compras de suministros, o envió de paquetes o dinero a otros lugares.
          </p>
          <p>No se quede atrás y haga parte HOY de este GRAN PROYECTO de crecimiento para su negocio, comunicándose  con nosotros  o al correo electrónico <a href="mailto:jbtexmo@hotmail.com">jbtexmo@hotmail.com</a>
          </p>
          <h3>¿Cómo Lograrlo?</h3>
          <p>La forma más fácil es contar con socios estratégicos, y tener alianzas para el uso de sus espacios inhabilitados y centros alternos. Estos socios podrían ser:</p>
         <ul class="text-font">
           <li>Cajeros Bancolombia,  Grupo  Aval.</li>
          <li>Corresponsales Bancarios.Baloto, Efecty, Servientrega.</li>
          <li>Antenas de comunicaciones Tigo, Movistar, Comcel, Golden Comunicaciones.</li>
          <li>Proyecto de Vallas de publicidad.</li>
          <li>Proveedores de diferentes productos generando descuento por compras en escala.</li>
          <li>Franquicias como  Subway, El Corral, Presto, Droguerías, Minimercados, Gana, éxito, Euro, entre otras.</li>
          <li>Proyecto de seguros corporativos con estrategias novedosas y negociación en Bloque  (Soat, Seguros de estaciones de servicios, seguros de vida, seguros de vehículos, seguros ambientas, entre otros.</li>
          <li>Optimización de centros de lubricación, lavado, servitecas</li>
          <li>Sodexho</li>
         </ul>

          <h3>Estos le ayudarán a:</h3>
          <ul class="text-font">
            <li>Tener un ingreso fijo mensual</li>
            <li>Recuperar gastos que son obligatorios por los impuestos que se imponen.</li>
            <li>Minimizar el impacto de los impuestos.</li>
            <li>Minimizar costos de operación altos.</li>
            <li>Ser una Estación de Servicio más segura y atractiva, generando más tranquilidad y confianza debido al flujo de clientes y a la iluminación adicional de los centros alternos
            </li>
          </ul>
          <h3>Otros ya lo Están Haciendo con Enormes Resultados</h3>
          <p>Las estaciones de servicio que han contado con nuestro apoyo y asesoría, han logrado obtener una mayorrentabilidad
           y crecimiento  que aquellas que están desaprovechando sus espacios no utilizados. Y usted sabe que dichos
           espacios le está costando dinero todos los días.<br>
          Si usted decide hoy crear estas alianzas estratégicas, también podrá obtener:</p>
          <ul class="text-font">
            <li>Asesoría para tener la mejor optimización de los centros alternos (porque usted necesita saber
                cuáles son los centros alternos que necesita su estación de servicio)</li>
            <li>Asesoría con una empresa de mercado o directamente con el aliado interesado en su estación de servicio</li>
          </ul>
          <p>Todo esto sin más costos adicionales para usted.</p><br>
        </div>
      </div>


  </div>
</div>
<footer>
  <p class="pull-right">&copy; Gisco 2014</p>
</footer>
<!-- build:js scripts/vendorstart.js -->
<!-- bower:js -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!-- endbower -->
<!-- endbuild -->
<script>
  function isIE () {
    navigator.sayswho= (function(){ var ua= navigator.userAgent, tem, M= ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || []; if(/trident/i.test(M[1])){ tem= /\brv[ :]+(\d+)/g.exec(ua) || []; return 'IE '+(tem[1] || ''); } if(M[1]=== 'Chrome'){ tem= ua.match(/\b(OPR|Edge)\/(\d+)/); if(tem!= null) return tem.slice(1).join(' ').replace('OPR', 'Opera'); } M= M[2]? [M[1], M[2]]: [navigator.appName, navigator.appVersion, '-?']; if((tem= ua.match(/version\/(\d+)/i))!= null) M.splice(1, 1, tem[1]); return M.join(' '); })();navigator.sayswho= (function(){ var ua= navigator.userAgent, tem, M= ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || []; if(/trident/i.test(M[1])){ tem= /\brv[ :]+(\d+)/g.exec(ua) || []; return 'IE '+(tem[1] || ''); } if(M[1]=== 'Chrome'){ tem= ua.match(/\b(OPR|Edge)\/(\d+)/); if(tem!= null) return tem.slice(1).join(' ').replace('OPR', 'Opera'); } M= M[2]? [M[1], M[2]]: [navigator.appName, navigator.appVersion, '-?']; if((tem= ua.match(/version\/(\d+)/i))!= null) M.splice(1, 1, tem[1]); return M.join(' '); })();
    var myNav = navigator.sayswho;
    var res = (myNav.indexOf('IE') != -1) ? true : false;
    console.info(res);
    return res;
  }


  angular.module('gasmarket', [])
    .controller('starpage', ['$scope','$window', function($scope,$window) {
      $scope.listview=[];

      $scope.showIndex = 0;

      $scope.mail = {
        fname:null,
        lname:null,
        mail:null,
        phon:null,
        msg:null
      };

      function inicializar(){
        var count = $(".content").length;
        //console.info(count);

        for (var i = 0; i < count; i++) {
          $scope.listview.push(false);

        }
      }

      inicializar();
      $scope.listview[$scope.showIndex]=true;

      $scope.prueb=function(index){
        //console.info("$event",index);
        $scope.listview[$scope.showIndex]=false;
        $scope.showIndex = index;
        $scope.listview[$scope.showIndex]=true;
      };

      $scope.mailto=function(){
        //console.info($scope.mail);

        var mail=$scope.mail,
          body = "Nombre:"+mail.fname+" "+mail.lname +
          " Tel:"+mail.phon + " <br/>"+mail.msg;
        var link = "mailto:phipex@yahoo.com"
          + "?subject=GasMarket "
          + "&body=" + escape(body);

        window.location.href = link;
      }


      $scope.isIE = isIE();
    }]);
</script>
</body>
</html>
